@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin 'tailwind-scrollbar';

/* Custom scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  height: 6px;             /* height for horizontal scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #26f86c;      /* light gray track */
  border-radius: 4px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #3b82f6;      /* blue thumb */
  border-radius: 4px;
}

.-custom::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}

/* Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #2aac06 #e2e8f0;
}

/* Overall scrollbar */
*::-webkit-scrollbar {
  width: 4px;   /* vertical scrollbar width */
  height: 4px;  /* horizontal scrollbar height */
}

/* Track (area scrollbar moves on) */
*::-webkit-scrollbar-track {
  background: #7a7474;
  border-radius: 4px;
}

/* Thumb (the draggable part) */
*::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 4px;
  border: 1px solid #9f9b9b;
}

/* Thumb hover effect */
*::-webkit-scrollbar-thumb:hover {
  background-color: 
  #4F46E5;
}

